.row
  .col-md-3
  .col-md-6
    %section.panel.panel-default
      %header.panel-heading
        %h4
          New movie 
      .panel-body
        = render 'form'

        = link_to 'Back', movies_path
  .col-md-3

